.footer  {
    background-color: #222;
    color: #eee;
    padding: 30px 0;
    font-family: 'Inter', sans-serif;
    width: 100%; /* Занимает всю ширину */
    box-sizing: border-box; /* Включаем отступы в ширину */
}

.footer .container {
    max-width: 1200px; /* или другое значение, соответствующее макету */
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box; /* Включаем отступы в ширину */
    background-color: transparent;
}

.footer .container *{
    background-color: transparent;
}

.footer__top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: transparent;
}

.footer__logo img {
    width: 273px;
    height: 96px;
    background-color: transparent;
}



.footer__social {
    margin-left: 640px;
}

.footer__social img {
    width: 36px;
    height: 36px;
    background-color: transparent;
}

.footer__bottom {
    display: grid; /* Используем Grid Layout */
    grid-template-columns: repeat(3, 1fr); /* Создаем три колонки одинаковой ширины */
    grid-gap: 200px; /* Добавляем отступы между колонками */
    width: 100%;
    background-color: transparent;
}

.footer__column {
    font-size: 14px;
    line-height: 1.6;
    box-sizing: border-box; /* Включаем отступы в ширину */
    background-color: transparent;
}

.footer__column h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff; /* Цвет заголовков */
    background-color: transparent;
}

.footer__column a {
    color: #eee; /* Цвет ссылок */
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    background-color: transparent;
}

.footer__column a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.footer__social a {
    background-color: transparent;
    display: inline-block;
    margin: 0 5px;
    /* Цвет иконок */
    font-size: 55px;
    /* Размер иконок */
    transition: transform 0.2s ease;
}
.tg {
    color: #11AADE;
}

.wh {
    color: #32D951;
}

.footer__social a i {
    background-color: transparent;

}

.tg:hover {
    transform: scale(1.2);
    /* Увеличение при наведении */
    color: #109bc9;
    /* Изменение цвета при наведении */
}

.wh:hover {
    transform: scale(1.2);
    /* Увеличение при наведении */
    color: #2bb344;
    /* Изменение цвета при наведении */
}